.tagged_text { margin-top:30px; }
.tagmate-menu {
  position:relative;
  width: 400px;
  background: #eee;
  margin:20px 0;
  z-index:1000;
}
.tagmate-menu-option {
  display:block;
  background: #EEE;
  padding: 3px;
  cursor:pointer;
}
.tagmate-menu-option:hover, .tagmate-menu-option-active {
  background: lightblue;
}
.tagmate-hilite {
  background: lightblue;
}
.tags { margin:0; padding:0; list-style:none; }
.tags li { display:inline; list-style:none; cursor:pointer; }
.bye { color:#fff; background:#c00; text-align:center; border-radius:24px; font-size:11px; display:inline-block; width:12px; height:12px; line-height:11px; cursor:pointer; }
